.button {
  padding: 10px;
  color: black;
  background: #fafafa;
  font-weight: bold;
  //   border: 1px solid var(--clr-accent-1);
  border-radius: 2px;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
