.buttonPrimary {
  background: var(--grad-1);
  font-size: var(--font-size-r);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Jura, "sans-serif";
  color: var(--clr-white);
  padding: 10px;
  border-radius: 10px;
  border: none;
  gap: 10px;
  cursor: pointer;
  transform: translateY(0%);

  transition: all 150ms ease-in-out;

  &:hover {
    opacity: 0.8;
    transform: translateY(-3%);
    box-shadow: 0px 9px 34px -20px var(--clr-accent-1);
  }
}
