.buttonPrimary {
  background: var(--grad-1);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Jura, "sans-serif";
  color: var(--clr-white);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  gap: 10px;
  cursor: pointer;
  transform: translateY(0%);
  box-shadow: none;

  transition: all 150ms ease-in-out;

  &:hover {
    opacity: 1;
    transform: translateY(-3%);
    // box-shadow: 0px 9px 34px -20px var(--clr-accent-1);
    filter: drop-shadow(0px 0px 7px var(--clr-accent-2));
  }
}
