.sectionHero {
  p {
    max-width: 500px;
  }
  h1 {
    font-size: 70px;
    margin-top: 80px;
  }
  position: relative;
  &::after {
    pointer-events: none;

    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      var(--clr-background-2)
    );
  }
  padding-bottom: 100px;
  height: min-content;

  @media (max-width: 768px) {
    h1 {
      font-size: var(--font-size-xl);
    }
  }
}

.heroBackground {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
  video {
    height: 100vh;
    opacity: 0.5;
    position: relative;
    margin-left: 30%;
  }

  &::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      var(--clr-background-1) 60%,
      rgba(0, 0, 0, 0)
    );
  }
}

.heroContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  position: relative;

  .leftSide {
    padding-top: 128px;
  }

  .rightSide {
    position: relative;

    @media (max-width: 768px) {
      grid-template-columns: auto;
      grid-auto-flow: row;
    }
  }

  .heroInfo {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 28px;

    :nth-child(2) {
      background: linear-gradient(
        to bottom,
        rgba(112, 112, 112, 0.65),
        rgba(112, 112, 112, 0.29)
      );
      width: 1px;
      height: 37px;
    }

    @media (max-width: 480px) {
      margin-top: 3rem;
      flex-direction: column;

      :nth-child(2) {
        background: linear-gradient(
          to right,
          rgba(112, 112, 112, 0.65),
          rgba(112, 112, 112, 0.29)
        );
        width: 100%;
        height: 1px;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
}

.heroSign {
  margin-left: -100px;
  margin-top: 18px;
  position: relative;
}

.heroNavigation {
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  @media (max-width: 978px) {
    left: 50px;
  }
  @media (max-width: 870px) {
    display: none;
  }
}
