@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Jura:wght@300;400;500;600;700&display=swap");

:root {
  --container-width: 1240px;
  --header-height: 80px;
  --padding: 2rem;

  --clr-accent-1: #f0bd70;
  --clr-accent-2: #ebc79241;
  --clr-background-1: #040405;
  --clr-background-2: #000000;
  --clr-paragraph: #bbbcc0;
  --clr-white: #fafafa;
  --grad-1: linear-gradient(to bottom, #181818, #272727);
  --grad-2: linear-gradient(to right, #b97714, rgba(240, 189, 112, 1));
  /* --grad-2: linear-gradient(to right, rgb(234,138,138), rgb(154, 53, 53)); */

  --grad-3: linear-gradient(45deg, rgb(255, 255, 255), rgb(195, 195, 195));
  --grad-4: linear-gradient(
    to bottom,
    rgba(27, 27, 27, 0.83),
    rgba(27, 27, 27, 0.364)
  );

  --font-size-r: 18px;
  --font-size-m: 24px;
  --line-height-r: 29.12px;
  --line-height-m: 161.18%;

  --font-size-l: 44px;

  --font-size-xl: 54px;
  --font-size-xxl: 70px;
  --line-height-xl: 113.8%;
}

@media (max-width: 440px) {
  :root {
    --font-size-r: 16px;
    --font-size-m: 22px;
    --font-size-l: 28px;
    --font-size-xl: 40px;
    --font-size-xxl: 58px;
    --padding: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background-1);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--clr-paragraph);
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: auto;
  padding-inline: var(--padding);
}

.dots:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.textCenter {
  text-align: center;
}

.buttonPrimary {
  background: var(--grad-1);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  gap: 10px;
  cursor: pointer;
  transform: translateY(0%);
  box-shadow: none;

  transition: all 150ms ease-in-out;
}

.buttonPrimary:hover {
  opacity: 1;
  transform: translateY(-3%);
  filter: drop-shadow(0px 0px 7px var(--clr-accent-2));
}
