.palveluItem {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;

  p {
    transition: all 300ms ease-in-out;
    transform: translateY(25%);
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);

    opacity: 0;
  }

  &:hover {
    p {
      transform: translateY(0);
      opacity: 1;
    }
    .background {
      transform: scale(102%);
      opacity: 0.4;
    }
    .accent {
      width: 100%;
    }
    h2 {
      filter: drop-shadow(0px 0px 10px black);
    }
  }

  @media (max-width: 1450px) {
    h2 {
      font-size: var(--font-size-l);
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: var(--font-size-xl);
    }

    p {
      font-size: var(--font-size-r);
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: var(--font-size-l);
    }
  }
}

.content {
  padding-top: 72px;
  padding-inline: 62px;
  z-index: 1 !important;
  position: absolute;

  @media (max-width: 1300px) {
    padding-inline: 30px;
  }

  @media (max-width: 375px) {
    padding-top: 20px;
  }
}

.background {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  pointer-events: none; /* Tämä siksi, ettei overlay blockaa klikkauksia*/
  transition: all 300ms ease-in-out;
}

.accent {
  background: var(--grad-2);
  border-radius: 0px;
  transform: skew(-20deg);
  width: 20px;
  height: 35px;
  transition: all 380ms ease-in-out;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  @media (max-width: 440px) {
    height: 26px;
  }
}

.info {
  display: flex;
  position: relative;
  h2 {
    position: absolute;
    left: 35px;
    top: 10px;
    transition: all 300ms ease-in-out;
  }
  margin-bottom: 100px;
}
